# =========================
# Java
# =========================

*.class
*.jar
*.war
*.ear

target/
!mvnw.cmd


# =========================
# Maven
# =========================

.mvn/wrapper/maven-wrapper.jar


# =========================
# IDE
# =========================

.idea/

*.iml

.vscode/


# =========================
# OS
# =========================

.DS_Store

Thumbs.db


# =========================
# Environment
# =========================

.env

*.env

application-local.yml

application-secret.yml


# =========================
# Logs
# =========================

*.log


# =========================
# Docker
# =========================

docker-data/


# =========================
# Database
# =========================

*.sql.bak